# # DB data
# DB_HOST ="localhost"
# DB_NAME ="postgres"
# DB_USER ="postgres"
# DB_PASS ="root"
# DB_PORT =5432

# # Log helper
# LOG_FILE_PATH = "C:\Users\devandroid\Downloads\tp9-dai\src\helpers\"
# LOG_FILE_NAME = "archivo.log"
# LOG_TO_FILE_ENABLED = "false"
# LOG_TO_CONSOLE_ENABLED  = "true"

DB_HOST=localhost
DB_NAME=postgres
DB_USER=postgres
DB_PASS=root
DB_PORT=5432
LOG_FILE_PATH=C:\Users\devandroid\Downloads\tp9-dai\src\helpers\
LOG_FILE_NAME=archivo.log
LOG_TO_FILE_ENABLED=false
LOG_TO_CONSOLE_ENABLED=true